<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>juegosListado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button *ngFor="let juegos of juegos">
    <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Foto">
    </ion-avatar>

    <ion-label class="ion-text-wrap">
        <h3>{{juegos.titulo}}</h3>
        {{juegos.idgenero}}
        {{juegos.precio}}
        {{juegos.idcomania}}
        {{juegos.fecha_de_lanzamiento}}
        {{juegos.idplataforma}}
    </ion-label>
    <ion-button [routerLink]="['/juegos-detalle',juegos.idjuego]">
      <ion-icon name="person-circle"></ion-icon>
    </ion-button>
    </ion-item>
</ion-list>
</ion-content>
