<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>generoDetalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="generos as generos">
    <div class="center">
      <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Foto">
    </div>
    <ion-card-header class="center">
      <ion-card-title>
        <h3>{{ generos.nombre }} </h3>
      </ion-card-title>
    </ion-card-header>
    
  </ion-card>
  
</ion-content>
