<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detallesdepagoListado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button *ngFor="let detallesdepago of detallesdepagos">
    <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Foto">
    </ion-avatar>
  
    <ion-label class="ion-text-wrap">
        <h3>{{detallesdepago.iddetalles_de_pago}}</h3>
        {{detallesdepago.idjuego}}
        {{detallesdepago.idpago}}
        {{detallesdepago.cantidad}}
        {{detallesdepago.preciounitario}}
       
    </ion-label>
    <ion-button [routerLink]="['/detalles-de-pago-detalle', detallesdepago.iddetalles_de_pago]">
      <ion-icon name="person-circle"></ion-icon>
    </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
