<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>plataformaDetalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="plataforma as plataformas">
    <div class="center">
      <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Foto">
    </div>
    <ion-card-header class="center">
      <ion-card-title>
        <h3>{{ plataforma.nombre }} </h3>
          {{ plataforma.descripcion }} 
      </ion-card-title>
    </ion-card-header>
    
  </ion-card>
</ion-content>
