<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>plataformaListado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button *ngFor="let plataforma of plataformas">
    <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Foto">
    </ion-avatar>

    <ion-label class="ion-text-wrap">
        <h3>{{plataforma.nombre}}</h3>
      
    </ion-label>
    <ion-button [routerLink]="['/plataforma-detalle', plataforma.idplataforma]">
      <ion-icon name="person-circle"></ion-icon>
    </ion-button>
    </ion-item>
</ion-list>
</ion-content>
